@import url('https://fonts.googleapis.com/css?family=PT+Serif|Work+Sans');

$green: #3bc8aa;
$orange: #ff551a;
$black: #1e1e1e;
$white: #fff;
$grey: #e7e7e7;
$slightyellow: #ffeccf;

$titleFont: "PT Serif";
$bodyFont: "Work sans";

* {
  box-sizing: border-box;

}

body {
  font-family: $bodyFont;
  color: $black;
  background: $white;
  margin: 0 auto;
  font-size: 18px;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  color: $green;
//  text-align: center;
}

header {
      align-items: center;
      background: $slightyellow;
      justify-content: space-between;
      line-height: 1.5;
      margin: 0;
      display: flex;
      padding: 1em;
h1 {
  margin: 0;
  img {
    width: 80px;
  }
}
}
nav {
  a {
    text-decoration: none;
    font-family: $bodyFont;
    color: $green;
    //text-transform: uppercase;
    margin: 2em auto;
    display: block;
    transition: 1s ease;
    &:hover {
      color: $orange;
    }
  }

}

main {
  min-height: calc(100vh - 150px);
  padding: 1em;
}

.review {
  width: 25%;
  display: inline-block;
  margin: 2em auto;
  padding: 1em;
  transition: 1s ease;
  a {
    text-decoration: none;
    color: $orange;
  }
}
.show {
  overflow: hidden;
  margin: 1em auto;
  a {
    text-decoration: none;
    font-family: $bodyFont;
    background: $green;
    color: $white;
    padding: .6em 1em;
    margin: 1em auto;
    display: block;
    transition: 1s ease;
    display: inline-block;
    &:hover {
      background: $orange;
    }
  }
}

.new, .edit {
  background: $white;
  padding: 1em;
  form {
    max-width: 550px;
    textarea {
      min-height: 200px;
    }
    input, textarea {
      font-size: 18px;
      width: 80%;
      border: 1px solid $black;
      padding: 10px;
      display: block;
    }
    input[type=submit] {
      background: $green;
      color: $white;
      border: 1px solid $green;
    }
  }
}

footer {
  width: 100%;
  text-align: center;
  padding: 1em;
}
